# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual env
.venv/
venv/
env/

# Build / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# ML / CV outputs
Results/
output/
logs/

# Models
VoskModel/
*.pt
*.onnx
*.weights
